.logo{
    -fx-background-image: url("../images/misc/prova.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.soundOn{
    -fx-background-image: url("../images/misc/icons/soundON.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.soundOff{
    -fx-background-image: url("../images/misc/icons/soundOFF.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

@font-face {
    -fx-font-family: 'Muli';
    src: url('fonts/Muli-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Plain_Germanica';
    src: url('fonts/Plain_Germanica.ttf');
}

.NicknameSelectButtonGradiant{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b6a456 0%, #938121 100%),
            #b6a456,
            #938121,
            radial-gradient(center 50% 50%, radius 100%, #b6a456 , #938121);
}
.NicknameSelectButtonGradiant:hover{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e2cd99 0%, #a89646 100%),
            #e2cd99,
            #a89646,
            radial-gradient(center 50% 50%, radius 100%, #e2cd99, #a89646);
}
.NicknameSelectButtonGradiant:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.green {
    -fx-background-color:
            linear-gradient(#aeff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.green:hover {
    -fx-background-color:
            linear-gradient(#8ee014, #72ad06),
            radial-gradient(center 50% -40%, radius 200%, #82a41e 45%, #375704 50%);
}
.yellow {
    -fx-background-color:
            linear-gradient(#dcca8a, #c7a740),
            radial-gradient(center 50% -40%, radius 200%, rgba(228,236,43,1) 0%, rgba(218,200,24,1) 100%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #311c09;
}
.yellow:hover{
    -fx-background-color:
            linear-gradient(#dcc465, #c2971f),
            radial-gradient(center 50% -40%, radius 200%, rgb(201, 210, 10) 0%, rgb(175, 161, 11) 100%);
}
.red {
    -fx-background-color:
            linear-gradient(#ff5400, #be1d00),
            radial-gradient(center 50% -40%, radius 200%, #ff2121 25%, #5c0606 75%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #301f1f;
}
.red:hover{
    -fx-background-color:
            linear-gradient(#d24a07, #8f1a06),
            radial-gradient(center 50% -40%, radius 200%, #c40303 25%, #2d0303 75%);
}
.blue {
    -fx-background-color:
            linear-gradient(#1123bd, #1165bd),
            radial-gradient(center 50% -40%, radius 200%, #00caff 25%, #0284ec 75%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
}
.blue:hover{
    -fx-background-color:
            linear-gradient(#0011b2, #0252a9),
            radial-gradient(center 50% -40%, radius 200%, #09809d 25%, #0760a8 75%);
}
.nicknameBackground{
    -fx-background-image: url("../images/misc/NicknameBackground.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.gameview{
     -fx-background-image: url("../images/misc/game-view.jpeg");
     -fx-background-repeat: stretch;
     -fx-background-size: cover;
 }
.neutralBackground{
    -fx-background-image: url("../images/misc/gameboard.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.Button-1 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e7e2b8 0%, #c2bb89 100%),
            #e7e2b8,
            #c2bb89,
            radial-gradient(center 50% 50%, radius 100%, #e7e2b8, #c2bb89);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 1);
}

.Button-1:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b6a456 0%, #938121 100%),
            #b6a456,
            #938121,
            radial-gradient(center 50% 50%, radius 100%, #b6a456 , #938121);
}

.Button-1:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.ready {
    -fx-background-image:
            linear-gradient(from 0% 100% to 0% 100%, #266b02 0%, #1dfd1d 50%, #266b02 100%),
            #266b02,
            #1dfd1d,
            #266b02;
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.backgroundmenu{
    -fx-background-image: url("../images/misc/codex.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.displayBackground{
    -fx-background-image: url("../images/misc/displayBackground.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.displayButton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #5b4c08 0%, #cfa241 100%),
            #5b4c08,
            #cfa241,
            radial-gradient(center 50% 50%, radius 100%, #5b4c08, #cfa241);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}
.displayButton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.displayGameBoard {
    -fx-background-image: url("../images/misc/gameboard.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.neutralBorderedBackground{
    -fx-background-image: url("../images/misc/600x400.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}
.button{
    -fx-cursor: hand;
}

.shadowButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.shadowButton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}
.clickableCard:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
}
.deckTop{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 5);
}
.transparent-scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.transparent-scroll-pane .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.toggle-button {
    -fx-font-size: 20; -fx-font-weight: bold;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e7e2b8 0%, #c2bb89 100%),#e7e2b8,#c2bb89,
            radial-gradient(center 50% 50%, radius 100%, #e7e2b8, #c2bb89);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 1);
    -fx-focus-color: transparent;
}

.choice-box {
    -fx-font-weight: bold;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e7e2b8 0%, #c2bb89 100%),#e7e2b8,#c2bb89,
            radial-gradient(center 50% 50%, radius 100%, #e7e2b8, #c2bb89);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 1);
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.text-field {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #e3dfd1 0%, #eae8df 100%), #e7e5de, #dad8cb,
            radial-gradient(center 50% 50%, radius 100%, #e0dfd6, #e3e2d7);
    -fx-background-insets: 0, 1, 2, 3;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}